.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-data-contanier {
  width: 80%;
  height: 80%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 5px;
}

.board {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  padding: 15px;
  border-radius: 5px;
  height: 30%;
  min-height: 200px;
  min-width: 150px;
  color: black;
}

.add-board {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.4);
  transition: ease-in-out 0.15s;
}

.add-board:hover {
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
}
